#board {
  display: grid;
  grid-template-columns: repeat(3, 55fr);
  grid-template-rows: repeat(3, 55fr);
  gap: 20px;
}

.square {
  background-color: #fff;
  border: 2px solid #000;
  font-size: 50px;
  text-align: center;
}

.square:hover {
  background-color: #eee;
}

.square.x {
  color: #f00;
}

.square.o {
  color: #00f;
}
